* {
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #383d42;
}
.icon {
    width: 40px;
    height: 40px;
    border-radius: 5vw;
}
.logoLogIn {
    margin-top: 10vh;
    text-align: center;
    width: 150px;
    height: 150px;
    opacity: 0.95;
}
.LogoTitle {
    font-family: 'Archivo', sans-serif;
    margin-top: 2vh;
    font-size: 5vw;
    color: white;
    opacity: 0.95;
}
.logIn {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color:#2b2f33;
}
.logInTitle {
    position: relative;
    z-index: 2;
    margin-top: 16.4vh;
    margin-bottom: 5vh;
    font-size: 8vw;
    font-family: 'Archivo', sans-serif;
    color: white;
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.192);
}
.LogoTitle p {
    display: inline-table;
    color: #f48fb1;
}
.cityLogIn {
    width: 100vw;
    height: 40vh;
    bottom: 0%;
    opacity: 0.6;
    display: grid;
    position: absolute;
    z-index: 0;
}
.propColor {
    color: #f48fb1;
}
/*Chat room element*/
.chatRoomContainer {
    background-color: #53565a;
}
/*TopNavBar*/
.navTopTitle {
    text-align: center;
    opacity: 0.95;
    color: white;
    font-size: 7vw;
    font-family: 'Archivo', sans-serif;
}
.navTopTitle p {
    display: inline-block;
    color: #f48fb1;
}
/*output chat*/
.messagesOutput {
    background-color: #383d42;
    height: 85.8vh;
    overflow: auto;
}
/*input chat*/
.InputChatApp {
    width: 80vw;
    margin-left: 10vw;
    height: 6.4vh;
    font-family: 'Archivo', sans-serif;
}
.buttonChat {
    position: absolute;
    bottom: 3vh;
    right: 5vw;
}
#standard-basic {
    width: 65vw;
    color:  #f48fb1;
}
/*bottom nav bar*/
.bottomNavBar {
    text-align: center;
}

/*Profile element*/
.profileBody {
    width: 100vw;
    height: 92.2vh;
}
.profileName {
    padding-top: 2.5vh;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 10vw;
    color: white;
}
.ButtonProfile {
    width: 35vw;
}